<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
    <script src="/js/admin.js" defer></script>
    <title>Admin Page</title>
  </head>

  <body>
    <nav><a href="/static/welcome">Logout</a></nav>

    <header><h2 id="salonName">{{salonName}}</h2></header>
    <main>
        <div id="left">
          <div class="subContainer">
            <div class="heading" id="servicesHeader">Services</div>

            <div class="list">
              <div id="services" >
                  {{#each services}}
                    <div class="service">{{this}}</div>
                  {{/each}}
              </div>

              <div id="inputContainer">
                <label for="newService">Service Name</label>
                <input type='text' id="newService" name="newService"> 

                <label for="newService">Service Duration (in minutes)</label>
                <input type='text' id="newServiceDuration" name="newService"> 
                <button id="addService">Add Service</button>
              </div>
            </div>
          </div>
        </div>

        <div id="right">
          <div class="subContainer">
            <div id="selectDateContainer">
                <div class="heading">Pending Appointments:</div>

                <div>
                  <label for="date">Filter by Start Date</label>
                  <input type="date" id="date" name="date">
                </div>
            </div>

            <div id="pendingAppointments" class="list">
                {{#each pending}}
                    <div class="appointmentContainer">
                        <div>Service: {{this.service}}</div>
                        <div>Booker: {{this.bookerName}}</div>
                        <div>Phone Number: {{this.bookerPhoneNum}}</div>
                        <div>Start Date and Time: {{this.startDatetime}}</div>
                        <div>End Date and Time: {{this.endDatetime}}</div>
                    </div>
                {{/each}}
                <div id="approveDeclineButtons">
                    <button class="approveButton">Approve</button>
                    <button class="declineButton">Decline</button>
                </div>
            </div>

        <div id="right">
          <div class="subContainer">
            <div id="selectDateContainer">
                <div class="heading">Appointments:</div>

                <div>
                  <label for="date">Filter by Start Date</label>
                  <input type="date" id="date" name="date">
                </div>
            </div>

            <div id="appointments" class="list">
              {{#each appointments}}
                <div class="appointmentContainer">
                  <div>Service: {{this.service}}</div>
                  <div>Booker: {{this.bookerName}}</div>
                  <div>Phone Number: {{this.bookerPhoneNum}}</div>
                  <div>Start Date and Time: {{this.startDatetime}}</div>
                  <div>End Date and Time: {{this.endDatetime}}</div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
    </main>
  </body>
</html>
