<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
    <script src="/js/admin.js" defer></script>
    <script src="/js/test_translate.js" defer></script>
    <script async type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Admin Page</title>
  </head>

      
<body>

        <nav class="flex justify-end space-x-10">
            <div id="google-container" class="w-20">
                <div  id="google_translate_element"></div>
            </div>
            <a href="/static/welcome" class="text-white hover:text-black">Logout</a>
        </nav>

    <header class="text-center text-2xl">
        <h2 id="salonName">{{salonName}}</h2>
    </header>

    <main class="flex">
        <div id="left" class="w-45 p-4">
            <div class="subContainer">
                <div class="heading">Services</div>

                <div class="list bg-orange-400 rounded-md p-3 text-center overflow-y-scroll">
                    <div id="services">
                        {{#each services}}
                            <div class="service mt-2 mb-2 text-lg font-bold">{{this}}</div>
                        {{/each}}
                    </div>

                    <div id="inputContainer" class="mt-4 mx-auto w-90 flex flex-col">
                        <label for="newService" class="block">Service Name</label>
                        
                        <input type="text" id="newService" name="newService" class="colorful-textbox">

                        <label for="newServiceDuration" class="block mt-2">Service Duration (in minutes)</label>
                        <input type="text" id="newServiceDuration" name="newService" class="colorful-textbox">
                        <button id="addService" class="store-button" type="submit">Add Service</button>
                    
                        <div>
                            <label for="deleteService">Select Service to Delete:</label>
                             <select id="deleteServiceDropdown">
   
                            {{#each services}}
                            <option value="{{this}}">{{this}}</option>
                             {{/each}}
                             </select>
                             <button id="deleteService">Delete Service</button>
                        </div>
                        
                        <div>
                            <label for="editService">Select Service to Edit:</label>
                            <select id="editServiceDropdown">
                                <option value="0">Select a service</option>
                                {{#each services}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                             {{!-- <button id="deleteService">Edit Service</button> --}}

                             <div id="editInputs" hidden>
                                <label for="editServiceName">Edit Service Name:</label>
                                <input type="text" id="editServiceName" name="editServiceName" class="colorful-textbox">
                                <label for="editServiceDuration">Edit Service Duration (in minutes):</label>
                                <input type="text" id="editServiceDuration" name="editServiceDuration" class="colorful-textbox">
                                <p>Note: No input means no change.</p>
                                <button id="editSubmit" class="store-button" type="submit">Save Changes</button>
                                <p id="editConfirmMsg" hidden>Changes saved.</p>
                             </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="subContainer">
                <div id="workingHoursHeader" class="heading">Working Hours: {{workingHours}}</div>

                <div class="list bg-orange-400 rounded-md p-3 text-center overflow-y-scroll">
                    <label for="start">Start of Working Hours (Military Time)</label>
                    <input type="number" id="start" step="1" min="0" max="23" name="start" class="colorful-textbox">

                    <label for="start">End of Working Hours (Military Time)</label>
                    <input type="number" id="end" step="1" min="0" max="23" name="end" class="colorful-textbox">
                    <button id="editWorkingHours" class="store-button" type="submit">Confirm New Working Hours</button>
                    <p id="confirmMsg" hidden>Working Hours Set.</p>
                </div>
            </div>
        </div>

        <div id="pendings">
                <div class="subContainer">
                    <div class="selectDateContainer">
                        <div class="heading">Pending Appointments:</div>
                        <div>
                            <label for="date">Filter by Start Date</label>
                            <input type="date" id="pendingsDate" class="colorful-date-input">
                        </div>
                    </div>
                    <div id="pendingAppointments" class="list">
                        <div class="noAppointments" id="noAppointmentsPending" hidden>No appointments on this day waiting to be approved.</div>
                        {{#each pending}}
                        <div class="appointmentContainer">
                            <div>Service: {{this.service}}</div>
                            <div>Booker: {{this.bookerName}}</div>
                            <div>Phone Number: {{this.bookerPhoneNum}}</div>
                            <div>Start Date and Time: {{this.startDatetime}}</div>
                            <div>End Date and Time: {{this.endDatetime}}</div>
                            <div>Email: {{this.clientEmail}}</div>
                        </div>              
                        {{/each}}
                        <div id="approveDeclineButtons">
                            <button id="approveButton" class="store-button">Approve</button>
                            <button id="declineButton" class="store-button">Decline</button>
                        </div>
                    </div>
        </div>
        
        <div id="nonpendings" class="w-55">
            <div class="subContainer">
                <div class="selectDateContainer">
                    <div class="heading">Appointments:</div>

                    <div class="mt-2">
                        <label for="date" class="block">Filter by Start Date</label>
                        <input type="date" id="appointmentsDate" class="colorful-date-input">
                    </div>
                </div>

                <div id="appointments" class="list bg-brown-600 text-white p-4 rounded-md space-y-4">
                    <div class="noAppointments" id="noAppointmentsNonPending" hidden>No appointments scheduled on this day.</div>
                    {{#each appointments}}
                    <div>
                        <div class="appointmentContainer border-black border-solid border-thin p-2">
                            <div>Service: {{this.service}}</div>
                            <div>Booker: {{this.bookerName}}</div>
                            <div>Phone Number: {{this.bookerPhoneNum}}</div>
                            <div>Start Date and Time: {{this.startDatetime}}</div>
                            <div>End Date and Time: {{this.endDatetime}}</div>
                            <div>Email: {{this.clientEmail}}</div>
                        </div>
                        <div class="deleteAptmntBtn">Cancel Appointment</div>  
                    </div>  
                    {{/each}}
                </div>
            </div>
        </div>
    </main>
</body>
